/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
body {
    background-color:#FCFAE6;
    }

p { 
    color: #6E655C;
}

#container {
    background-color: #4A4138;
    width: 600px;
    height: auto;
}

#menu {
    background-color: red;
    display: inline-block;
}
#menu ul {
    text-align: center; 
    font-weight: normal;
}

#menu a {
    display: none;
}

#topbar {
    background-color: #4C433A;
    background-image:url('pics/coffey.jpg');
    width: 600px;
    height: 215px;
    color: #F2EFD9;
    font-family: verdana;
    font-size: 8px;
}

#content {
    background-color: #D6CDC0;
}

#maincontent {
    background-color: #F2EFD9;
    width: 368px;
    float: left;
}

#maincontent img {
    float:left;
}

#subcontent {
    background-color: #F2EFD9;
    width: 229px;
    float: left;
}

#bottomcontent {
    background-color: #F2EFD9;
    float: left;
    width: 600px;
    font-style: verdana;
    overflow: auto;
    font-size: 10px;
    
}